.counter-container{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.counter-display{
    font-size: 90px;
    margin-top: 0;
    margin-bottom: 50px;
}
.counter-button{
    background-color: rgb(33, 240, 240);
    color: black;
    width: 150px;
    height: 50px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
}
.counter-button:hover{
    cursor: pointer;
    background-color:rgb(9, 118, 118); ;
}