body{
    background-color: hsla(0, 11%, 2%, 0.89);
}
.to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1{
    font-size: 50px;
    color: hsl(0, 0%, 98%);
}
button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.add-button{
    background-color: hsl(120, 95%, 37%);
}
.add-button:hover{
    background-color:  hsl(120, 95%, 61%);
}
.delete-button{
    background-color: hsl(0, 97%, 34%);
}
.delete-button:hover{
    background-color:   hsl(0, 97%, 44%);
}
.move-button{
    background-color: hsl(325, 100%, 29%);
}
.move-button:hover{
    background-color:   hsl(325, 100%, 39%);
}
input[type="text"]{
    font-size: 17px;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 34%, 0.523);
    border-radius: 5px;
    color: hsla(0, 1%, 28%, 0.509);
}
ol{
    padding: 0;
}
li{
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    background-color: hsla(0, 0%, 97%, 0.872);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 1%, 22%, 0.507);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text{
    flex: 1;
}
.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 22px;
    margin-left: 10px;
}